name: ci

on:
  push:
    branches: [dev, main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "building from github action"
  test:
    runs-on: ubuntu-latest
    steps:
      - name: testing
        run: echo "Testing from github action"
